* {
    margin:auto;
}

.waffle-nav {
    background-color: #809da8;
    padding: 10px 10px 10px 10px;
}

.waffle-nav ul{
    display: flex;
    flex-direction:row;   
    justify-content: center;
    list-style: none;
    padding: 0%;
}

.waffle-nav a {
    text-decoration: none;
    color: black;
    font-size: 50px;
}

.waffle-ingredient-direction-container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding-top: 10px;
}

.waffle-intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.waffle-tag-line {
    padding: 10px 0px 10px 0px;
}

.waffle-desc {
    font-style: italic;
}

.waffle-intro h1 {
    font-size: 35px;
    padding: 30px 0px 10px 0px;
}
.waffle-image {
    height: 400px;
    width: 500px;
    border: solid black 1px;
}

.ingredient-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

.ingredient-section li {
    padding: 5px 0px 5px 0px;
}

.ingredient-section h3 {
    padding: 20px 0px 10px 0px;
}
 
.direction-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.direction-section li {
    padding: 5px 0px 5px 0px;
}

.direction-section h3 {
    padding: 20px 0px 10px 0px;
}

.waffle-ingredient-direction-container , .waffle-intro {
    background-color: #aac6d1;
}